.card.is.flipped {
box-sizing border-box;
background: rgb(199, 199, 199);
}

.flipcard.body {
background: rgb(199, 199, 199);
}

.flipcard.card {
top: 50%;
left: 50%;
width: 300px;
height: 300px;
margin: -150px;
float: left;
perspective: 500px;
}

.flipcard.content {
position: absolute;
width: 100%;
height: 100%;
box-shadow: 0 0 15px;
color: #00b38c;

transition: transform 1s;
transform-style: preserve-3d;
}

.flipcard.card:hover.content {
transform: rotateY( 180deg ) ;
transition: transform 0.5s;
}

.flipcard.front,
.flipcard.back {
position: absolute;
height: 100%;
width: 100%;
background: white;
line-height: 300px;
color: #1e9400;
text-align: center;
font-size: 60px;
border-radius: 5px;
backface-visibility: hidden;
}

.flipcard.back {
background: #929292;
color: rgb(224, 209, 0);
transform: rotateY( 720deg );
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    }
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

.main-nav {
width: 1000%;
background: #000000;
min-height: 10px;
padding: 20px;
position: sticky;
text-align: center;
font-size: 20px;
}
.nav {
max-width: 1200px;
}
.nav .name {
display: block;
margin-right: auto;
color: white;
}
.nav {
display: flex;
justify-content: space-around;
font-weight: 700;
list-style-type: none;
margin: 0 auto;
padding: 1;
}
.nav .name {
display: none;
}
.nav li {
padding: 5px 10px 10px 10px;
}
.nav a {
transition: all .5s;
}
.nav a:hover {
color: #15ff84
}

.card.is-flipped {
transform: rptateY(180deg);
}

.card__face {
position: absolute;
width: 100%;
height: 100%;
line-height: 260px;
color: white;
text-align: center;
font-weight: bold;
font-size: 50px;
backface-visibility: hidden;
}

.card__face--front {
background: rgb(178, 178, 178);
}

.card__face--back {
background: rgb(44, 44, 44);
transform: rotateY(180deg);
}

div.form-example {
display: table-row;
}

label, input {
display: table-cell;
margin-bottom: 10px;
}

.hero-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),;
height: 50%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.flex-container {
display: flex;
justify-content: center;
flex-wrap: wrap-reverse;
align-content: space-between;
align-items: center;
}

#welcome-section {
height: 50vh;
overflow: auto;
background-color: #161616;
font-size: 30px;
width: 100vmax;
}

#about {
height: 50vh;
overflow: auto;
background-color: #00c3ff;
font-size: 30px;
width: 100vmax;
}

#projects {
height: 50vh;
overflow: auto;
background-color: #8f000071;
font-size: 30px;
width: 100vmax;
}

#updates {
height: 50vh;
overflow: auto;
background-color: #006120;
font-size: 30px;
width: 100vmax;
}

#contact {
height: 50vh;
overflow: auto;
background-color: #003968;
font-size: 30px;
width: 100vmax;
}

body {
margin: 0;
padding: 0;
text-align: center;
font-family: 'Roboto', sans-serif;
color: rgb(255, 255, 255);
background: #000000;
}
img {
max-width: 10%;
height: auto;
}

a {
text-decoration: none;
color: #b8e3ff;
}
a:hover {
color: #15ff84;
}

@media screen {
body {
width: 75%;
}
}

@media print {
body {
width: 100%;
}
}

#navbar {
position: fixed;
top: 10px;
width: 100%;
justify-content: flex-end;
}​
.nav {
display: flex;
justify-content: flex-end;
position: fixed;
top: 0;
left: 0;
width: 100%;
box-shadow: 0 2px 0 rgba(60, 211, 0, 0.4);
}
.nav-list {
display: flex;
margin-right: 2rem;
margin: 0 1rem;

@media (max-width: 28.75em) {
.nav {
justify-content: center;
}

.nav-list a {
display: block;
font-size: 2.2rem;
padding: 2rem;
}

header {
text-align: center;
background: url('img\just-cause-4-uhd-4k-wallpaper.jpg') no-repeat top center ;
background-size: cover;
overflow: hidden;
padding-top: 60px;
}
header {
line-height: 1.5;
}
header .profile-image {
margin-top: 50px;
width: 150px;
height: 150px;
border-radius: 50%;
border: 3px solid white;
transition: all .5s;
}
header .profile-image:hover {
transform: scale(1.2) rotate(5deg);
}

.tag {
background-color: #efefef;
color: rgb(255, 255, 255);
padding: 10px;
border-radius: 5px;
display: table;
margin: 10px auto;
} 

.location {
background-color: rgb(255, 255, 255);
color: rgb(0, 255, 0);
}

.footerstuff {
margin: 30px;
padding: 20px 40px 40px;
max-width: 500px;
text-align: center;
background: white;
border-bottom: 10px solid white;
border-radius: 6px;
}
.footerstuff:hover {
border-color: #00b90f;
}

footer {
width: 100%;
min-height: 30px;
padding: 20px 0 40px 20px;
}
footer .copyright {
top: -8px;
margin-right: 20px;
font-size: .75em;
}

.contact {
height: 50vh;
overflow: auto;
background-color: #008f13;
font-size: 30px;
}


@media screen and (min-width: 720px) {

.flex {
display: flex;
max-width: 1200px;
justify-content: space-around;
margin: 0 auto;
}

header {
min-height: 450px;
}

main {
padding-top: 50px;
}

main p {
line-height: 1.6em;
}

footer {
font-size: 1.3em;
max-width: 1200px;
margin: 40px auto;
}
}