{
    box-sizing border-box;
}

.main-nav {
    width: 100%;
    background: #252525;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
    font-size: 20px;
}

.nav {
max-width: 1200px;
}

.nav .name {
display: block;
margin-right: auto;
color: white;
}

    .nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 1;
}

.nav .name {
display: none;
}

.nav li {
padding: 5px 10px 10px 10px;
}

.nav a {
transition: all .5s;
}

.nav a:hover {
color: #15ff84
}

#welcome-section {
height: 100vh;
overflow: auto;
background-color: #000000;
font-size: 30px;
}

.hero-image {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img\just-cause-4-uhd-4k-wallpaper.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#about {
    height: 50vh;
    overflow: auto;
    background-color: #00c3ff;
    font-size: 30px;
}

#projects {
    height: 50vh;
    overflow: auto;
    background-color: #db000071;
    font-size: 30px;
}

#updates {
    height: 50vh;
    overflow: auto;
    background-color: #a30065;
    font-size: 30px;
}

#contact {
    height: 50vh;
    overflow: auto;
    background-color: #008f13;
    font-size: 30px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
}




body {
margin: 0;
padding: 0;
text-align: center;
font-family: 'Roboto', sans-serif;
color: rgb(255, 255, 255);
background: #252525;
}



img {
max-width: 10%;
height: auto;
}






a {
text-decoration: none;
color: #b8e3ff;
}
a:hover {
color: #15ff84;
}

@media screen {
body {
width: 75%;
}
}

@media print {
body {
width: 100%;
}
}

#navbar {
position: fixed;
top: 0px;
width: 100%;
justify-content: flex-end;
}​



.nav {
display: flex;
justify-content: flex-end;
position: fixed;
top: 0;
left: 0;
width: 100%;
box-shadow: 0 2px 0 rgba(60, 211, 0, 0.4);
}

.nav-list {
display: flex;
margin-right: 2rem;
margin: 0 1rem;

@media (max-width: 28.75em) {
.nav {
justify-content: center;
}

.nav-list a {
display: block;
font-size: 2.2rem;
padding: 2rem;
}

header {
text-align: center;
background: url('img\just-cause-4-uhd-4k-wallpaper.jpg') no-repeat top center ;
background-size: cover;
overflow: hidden;
padding-top: 60px;
}

header {
line-height: 1.5;
}

header .profile-image {
margin-top: 50px;
width: 150px;
height: 150px;
border-radius: 50%;
border: 3px solid white;
transition: all .5s;
}

header .profile-image:hover {
transform: scale(1.2) rotate(5deg);
}

.tag {
background-color: #efefef;
color: rgb(255, 255, 255);
padding: 10px;
border-radius: 5px;
display: table;
margin: 10px auto;
} 

.location {
background-color: rgb(255, 255, 255);
color: rgb(0, 255, 0);
}

.card {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: white;
    border-bottom: 10px solid white;
    border-radius: 6px;
}

.card:hover {
border-color: #00b90f;
}

footer {
width: 100%;
min-height: 30px;
padding: 20px 0 40px 20px;
}

footer .copyright {
top: -8px;
margin-right: 20px;
font-size: .75em;
}






@media screen and (min-width: 720px) {

.flex {
display: flex;
max-width: 1200px;
justify-content: space-around;
margin: 0 auto;
}

header {
min-height: 450px;
}

main {
padding-top: 50px;
}

main p {
line-height: 1.6em;
}

footer {
font-size: 1.3em;
max-width: 1200px;
margin: 40px auto;
}
}